@{
    ViewData["Title"] = "Home Page";
}
<html lang="en" style="margin-bottom: 2%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/carousel/">

    <title>@ViewData["Title"]</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- Custom styles for this template -->
    <link href="/css/carousel.css" rel="stylesheet" asp-append-version="true">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" asp-append-version="true">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous" asp-append-version="true">
</head>

<body>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="https://images.pexels.com/photos/14756602/pexels-photo-14756602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Bienvenidos a Novalynx Fashion</h1>
                        <p>Novalynx Fashion combina diseño moderno y estética elegante para ofrecer piezas únicas que realzan tu estilo con un toque sofisticado y audaz.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="https://images.pexels.com/photos/1374910/pexels-photo-1374910.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Vive la Moda con Novalynx</h1>
                        <p>Una marca donde la estética minimalista y la innovación se encuentran para inspirar tu mejor versión.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="https://images.pexels.com/photos/10613214/pexels-photo-10613214.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Más que Moda, un Estilo de Vida</h1>
                        <p>Novalynx redefine lo moderno con prendas elegantes que inspiran confianza y autenticidad.</p>

                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaCasual"><img style="margin-bottom: 2%" id="imagenPrimera" class="img-circle" src="https://i.pinimg.com/enabled_lo_mid/736x/2c/52/24/2c52249ee134700d9cf9786ff6e83990.jpg" alt="Generic placeholder image" width="70" height="70"></a>
                </center>
                <h3 class="text-center">Ropa Casual</h3>
                

            </div>
            <div class="col-lg-4" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaInvierno"><img id="imagenSegunda" class="img-circle" src="https://i.pinimg.com/736x/1f/dc/3c/1fdc3c7d96d86183381314986bd126e4.jpg" alt="Generic placeholder image" width="70" height="70"></a>

                </center>
                <h3 class="text-center">Ropa de Invierno</h3>
                
            </div>
            <div class="col-lg-4" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaOficina">
                        <img id="imagenTercera" class="img-circle" src="https://i.pinimg.com/enabled_lo_mid/736x/4f/0f/cb/4f0fcb4beb2adde3ddb09262b4e82475.jpg" alt="Generic placeholder image" width="70" height="70">
                    </a>

                </center>
                <h3 class="text-center">Ropa de Oficina</h3>
               

            </div>
            <div class="col-lg-4" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaDeportivo">
                        <img id="imagenCuarta" class="img-circle" src="https://i.pinimg.com/736x/11/3d/e9/113de9e1c8989805e0f5beee55d389f0.jpg" width="70" height="70">

                    </a>

                </center>
                <h3 class="text-center">Ropa Deportiva</h3>
                

            </div>
            <div class="col-lg-4" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaVerano">
                        <img id="imagenQuinta" class="img-circle" src="https://i.pinimg.com/enabled_lo_mid/736x/a0/e5/95/a0e5955d074f15cf80e433f8d188d851.jpg" width="70" height="70">

                    </a>
                </center>
                <h3 class="text-center">Ropa de Verano</h3>
                

            </div>
            <div class="col-lg-4" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaFormal">
                        <img id="imagenSexta" class="img-circle" src="https://i.pinimg.com/enabled_lo_mid/736x/50/9f/9f/509f9fa9356d8389520bcde3b1ef00ef.jpg" width="70" height="70">

                    </a>

                </center>
                <h3 class="text-center">Ropa Formal</h3>
                

            </div>
            <div class="col-lg-4" style="margin-bottom: 2%">
                <center>
                    <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorRopaInterior">
                        <img id="imagenSeptima" class="img-circle" src="https://i.pinimg.com/736x/19/d4/fd/19d4fdc0c055c2c3aba4647a47b97516.jpg" width="70" height="70">

                    </a>

                </center>
                <h3 class="text-center">Ropa Interior</h3>
                

            </div>
            <div class="col-lg-4" style="margin-bottom: 2%">
                <center>
                   <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorCalzados">
                        <img id="imagenOctava" class="img-circle" src="https://i.pinimg.com/736x/d1/aa/04/d1aa04fdb50116e27c419cb1a5dfb53a.jpg" width="70" height="70">

                   </a>

                </center>
                <h3 class="text-center">Calzados</h3>
                

            </div>
            <div class="col-lg-4" style="margin-bottom: 2%">
                <center>
                     <a asp-area="Ventas" asp-controller="ProductosEnVentas" asp-action="OrdenarPorAccesorios"><img id="imagenNovena" class="img-circle" src="https://i.pinimg.com/enabled_lo_mid/736x/80/99/ce/8099ce6fd766596efbac72e862f2f136.jpg" width="70" height="70"></a>

                </center>
                <h3 class="text-center">Accesorios Complementarios</h3>
                

            </div>
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Descubre el Arte de Vestirte con Novalynx.</h2>
                <p>Novalynx transforma tu estilo con prendas exclusivas que combinan elegancia, comodidad y las últimas tendencias. Eleva tu look y refleja tu esencia con piezas diseñadas para destacar cada momento de tu vida. ¡Vístete con arte y confianza!</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="https://images.pexels.com/photos/768975/pexels-photo-768975.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Crea Tu Propio Destino con la Moda de Novalynx.</h2>
                <p>Atrévete a definir tu camino y expresarte sin límites con la moda versátil y audaz de Novalynx. Cada prenda está diseñada para empoderarte, inspirarte y hacer de tu estilo una declaración única. ¡Tu destino comienza aquí, vístete para conquistarlo!</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="https://images.pexels.com/photos/247204/pexels-photo-247204.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Vive en Grande. Viste con Novalynx.</h2>
                <p>Haz de cada día una experiencia extraordinaria con el estilo sofisticado y vibrante de Novalynx. Diseñamos moda para aquellos que se atreven a vivir sin límites, a destacar y a disfrutar cada momento con pasión. ¡Expande tu mundo y viste con grandeza!</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="https://images.pexels.com/photos/356170/pexels-photo-356170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" data-holder-rendered="true">
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous" asp-append-version="true"></script>

    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg>
</body>
</html>

