<mat-dialog-content>
  <h4><strong>Crear Cuenta</strong></h4>

  <form (ngSubmit)="guardarCambios()" [formGroup]="form">

    <div class="col-lg-6 col-md-12 col-sm-12">
      <h5><label>Nombre</label></h5>
      <input class="form-control" placeholder="Nombre de la cuenta" formControlName="nombreCuenta" />
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
      <h5><label>Descripción</label></h5>
      <input class="form-control" placeholder="Descripción" formControlName="descripcion" />
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <h5><label>Elige su color:</label></h5>
      <input class="form-control"
             [(colorPicker)]="color"
             [style.background]="color"
             formControlName="color"
             (colorPickerChange)="onColorChange($event)" />

    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
      <h5><label>Fecha</label></h5>
      <input class="form-control" placeholder="Fecha" formControlName="fechaDeCreacion" type="date"/>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 btnAcciones">
      <button mat-stroked-button type="button" (click)="onNoClick()">Cancelar</button>
      <button mat-flat-button type="submit" (click)="onNoClick()">Crear</button>
    </div>

  </form>
</mat-dialog-content>
