<div>

  <mat-tab-group>
    <mat-tab label="OVERVIEW INGRESOS Y GASTOS">
      <div class="resumenes">
        <div class="col-lg-4 col-md-12 col-sm-12 cardDiv">
          <div class="balanceTotal">
            <h2 class="text-center">Balance Total</h2>

            <button class="añadirCuentaBtn" mat-flat-button (click)=" openDialogCuenta()">Añadir Cuenta <i class="bi bi-plus-circle"></i></button>


            <h1 class="text-center text-primary">0.00 €</h1>

            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Organizar por <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> De mayor a menor</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-up"></span> De menor a mayor</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-indent-left"></span> Alfabeticamente crescendente</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-indent-right"></span> Alfabeticamente descendente</a></li>
              </ul>
            </div>

            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acciones <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Editar una cuenta</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Eliminar una cuenta</a></li>

              </ul>
            </div>

            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Semanal</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Mensual</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Trimensual</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Anual</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-arrow-right"></span> Elgir una fecha</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> Eligir un rango de fecha</a></li>
              </ul>
            </div>

            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graph <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> Lineal</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Barras</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-adjust"></span> Circular</a></li>
              </ul>
            </div>


            <div class="progress graph">
              <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 35%">
                <span class="sr-only">35% Complete (success)</span>
              </div>
              <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                <span class="sr-only">20% Complete (warning)</span>
              </div>
              <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 10%">
                <span class="sr-only">10% Complete (danger)</span>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 balanceTotal cardDiv">
          <div>
            <h2 class="text-center">Resumen Ingresos</h2>

            <button class="añadirCuentaBtn" mat-flat-button (click)="openDialog()">Nueva Categoría <i class="bi bi-plus-circle"></i></button>




            <h1 class="text-center text-success">0.00 €</h1>

            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Organizar por <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> De mayor a menor</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-up"></span> De menor a mayor</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-indent-left"></span> Alfabeticamente crescendente</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-indent-right"></span> Alfabeticamente descendente</a></li>
              </ul>
            </div>

            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acciones <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Editar una categoría</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Eliminar una categoría</a></li>

              </ul>
            </div>

            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Semanal</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Mensual</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Trimensual</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Anual</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-arrow-right"></span> Elgir una fecha</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> Eligir un rango de fecha</a></li>
              </ul>
            </div>

            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graph <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> Lineal</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Barras</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-adjust"></span> Circular</a></li>
              </ul>
            </div>

            <div class="progress graph">
              <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 35%">
                <span class="sr-only">35% Complete (success)</span>
              </div>
              <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                <span class="sr-only">20% Complete (warning)</span>
              </div>
              <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 10%">
                <span class="sr-only">10% Complete (danger)</span>
              </div>
            </div>

            <table mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef><h5>Categoría</h5></th>
                <td mat-cell *matCellDef="let row"><h6>{{ row.nombre }}</h6></td>
              </ng-container>

              <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef><h5>Color</h5></th>
                <td mat-cell *matCellDef="let row">
                  <h6><span class="glyphicon glyphicon-stop" [style.color]="row.color"></span> {{row.color}}</h6>
                </td>

              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" #paginatorIngreso>
            </mat-paginator>

          </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="cardDivGastos">
            <h2 class="text-center">Resumen Gastos</h2>

            <button class="añadirCuentaBtn" mat-flat-button (click)="openDialogCategoriaGasto()">Nueva Categoría <i class="bi bi-plus-circle"></i></button>

            <h1 class="text-center text-danger">0.00 €</h1>
            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Organizar por <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> De mayor a menor</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-up"></span> De menor a mayor</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-indent-left"></span> Alfabeticamente crescendente</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-indent-right"></span> Alfabeticamente descendente</a></li>
              </ul>
            </div>

            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acciones <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Editar una categoría</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Eliminar una categoría</a></li>

              </ul>
            </div>

            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Semanal</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Mensual</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Trimensual</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Anual</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><span class="glyphicon glyphicon-arrow-right"></span> Elgir una fecha</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-resize-horizontal"></span> Eligir un rango de fecha</a></li>
              </ul>
            </div>

            <div class="btn-group graph">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graph <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> Lineal</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Barras</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-adjust"></span> Circular</a></li>
              </ul>
            </div>

            <div class="progress graph">
              <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 35%">
                <span class="sr-only">35% Complete (success)</span>
              </div>
              <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                <span class="sr-only">20% Complete (warning)</span>
              </div>
              <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 10%">
                <span class="sr-only">10% Complete (danger)</span>
              </div>
            </div>

            <table mat-table [dataSource]="dataSourceGasto" class="small-margin-table">

              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef><h5>Categoría</h5></th>
                <td mat-cell *matCellDef="let row"><h6>{{ row.nombre }}</h6></td>
              </ng-container>

              <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef><h5>Color</h5></th>
                <td mat-cell *matCellDef="let row">
                  <h6><span class="glyphicon glyphicon-stop" [style.color]="row.color"></span> {{row.color}}</h6>
                </td>

              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsCategoriaGasto"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsCategoriaGasto;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" #paginatorGasto>
            </mat-paginator>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="ACTIVIDADES / HISTORIAL">

    </mat-tab>

  </mat-tab-group>
</div>
