@model ListadoOrdenCarritoViewModel

@using Microsoft.AspNetCore.Identity
@using NovalynxFashion.Core.Entidades.IdentityEntities
@using NovalynxFashion.Core.Enums
@inject UserManager<ApplicationUser> userManager;
@inject IHttpContextAccessor _context;
@{
    var user = await userManager.GetUserAsync(_context.HttpContext.User);
}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                @if(user.Role == RoleEnum.Empleado)
                {
                    <th>Estado de Aprobación</th>
                }
                
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orden in Model.OrdenesEnCarrito)
            {
                <tr>
                    <td>@orden.ProductoSuministrador.NombreProducto</td>

                    @if (user.Role == RoleEnum.Empleado)
                    {
                        @if (orden.Aprobacion == AprobacionEnum.PendienteDeAprobacion)
                        {
                            <td>
                                <span class="label label-warning">Pendiente de Aprobación</span>
                            </td>
                            

                        }

                        @if (orden.Aprobacion == AprobacionEnum.EnRevision)
                        {
                            <td>
                                <span class="label label-info">En Revisión</span>
                                
                            </td>
                            
                        }

                        @if (orden.Aprobacion == AprobacionEnum.Aprobado)
                        {
                            <td>
                                <span class="label label-success">Aprobado</span>

                            </td>
                        }
                        @if (orden.Aprobacion == AprobacionEnum.Rechazado)
                        {
                            <td>
                                <span class="label label-danger">Rechazado</span>
                            </td>
                           
                        }
                    }
                    

                    <td>@orden.Cantidad</td>
                    <td>
                        @if (orden.Aprobacion == AprobacionEnum.Aprobado && user.Role == RoleEnum.Empleado)
                        {
                            <a asp-area="Inventario" asp-action="AñadirAlInventario" asp-controller="General" asp-route-ordenId="@orden.Id" class="btn btn-primary">Comprar</a>
                        }
                        
                        @if (orden.Aprobacion != AprobacionEnum.Aprobado && user.Role == RoleEnum.Financiero)
                        {
                            <a class="btn btn-info">Revisar</a>
                        }
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>