@using NovalynxFashion.UI.ViewModels
@model ListadoInventarioViewModel

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Stock Actual</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inventarioItem in Model.Inventario)
            {
                <tr>
                    <td>@inventarioItem.ProductoSuministrador.NombreProducto</td>
                    
                        @if(inventarioItem.StockActual < 20)
                        {
                            <td>@inventarioItem.StockActual</td>
                            <td><p><span class="label label-danger">Falta de Stock</span></p></td>
                            
                            <td><a class="btn btn-warning">Informar</a></td>
                        } else {
                            <td>@inventarioItem.StockActual</td>
                            <td><p><span class="label label-success">Stock en Equilibrio</span></p></td>         
                            
                        }
                    
                </tr>
            }
        </tbody>
    </table>
</div>