<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')"><i class="bi bi-x-lg"></i></button></p>
    <ul>
      <li><h3><a routerLink="/">Overview</a></h3></li>
      <li><h3><a routerLink="/categoriasIngreso">Categorías Ingreso</a></h3></li>
    </ul>
    
    
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button (click)="sidenav.open()"><i class="bi bi-list"></i></button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
 

</mat-sidenav-container>
